/****** Object:  Table [dbo].[SalesCrMemoHeader]    Script Date: 10/27/2022 8:34:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesCrMemoHeader](
	[No] [nvarchar](20) NOT NULL,
	[CompanyCode] [nvarchar](10) NOT NULL,
	[SelltoCustomerNo] [nvarchar](100) NULL,
	[BilltoCustomerNo] [nvarchar](100) NULL,
	[BilltoName] [nvarchar](100) NULL,
	[BilltoName2] [nvarchar](100) NULL,
	[BilltoAddress] [nvarchar](150) NULL,
	[BilltoAddress2] [nvarchar](100) NULL,
	[BilltoCity] [nvarchar](100) NULL,
	[BilltoContact] [nvarchar](100) NULL,
	[YourReference] [nvarchar](100) NULL,
	[ShiptoCode] [nvarchar](100) NULL,
	[ShiptoName] [nvarchar](100) NULL,
	[ShiptoName2] [nvarchar](100) NULL,
	[ShiptoAddress] [nvarchar](100) NULL,
	[ShiptoAddress2] [nvarchar](100) NULL,
	[ShiptoCity] [nvarchar](100) NULL,
	[ShiptoContact] [nvarchar](100) NULL,
	[PostingDate] [date] NULL,
	[ShipmentDate] [date] NULL,
	[PostingDescription] [nvarchar](100) NULL,
	[PaymentTermsCode] [nvarchar](100) NULL,
	[DueDate] [date] NULL,
	[PaymentDiscount] [decimal](18, 10) NULL,
	[PmtDiscountDate] [date] NULL,
	[ShipmentMethodCode] [nvarchar](100) NULL,
	[LocationCode] [nvarchar](100) NULL,
	[ShortcutDimension1Code] [nvarchar](100) NULL,
	[ShortcutDimension2Code] [nvarchar](100) NULL,
	[CustomerPostingGroup] [nvarchar](100) NULL,
	[CurrencyCode] [nvarchar](100) NULL,
	[CurrencyFactor] [decimal](18, 10) NULL,
	[CustomerPriceGroup] [nvarchar](100) NULL,
	[PriceCalculationMethod] [nvarchar](100) NULL,
	[PricesIncludingVAT] [bit] NULL,
	[InvoiceDiscCode] [nvarchar](100) NULL,
	[CustomerDiscGroup] [nvarchar](100) NULL,
	[LanguageCode] [nvarchar](100) NULL,
	[SalespersonCode] [nvarchar](100) NULL,
	[Comment] [bit] NULL,
	[NoPrinted] [int] NULL,
	[OnHold] [nvarchar](100) NULL,
	[AppliestoDocType] [nvarchar](100) NULL,
	[AppliestoDocNo] [nvarchar](100) NULL,
	[BalAccountNo] [nvarchar](100) NULL,
	[Amount] [decimal](18, 10) NULL,
	[AmountIncludingVAT] [decimal](18, 10) NULL,
	[VATRegistrationNo] [nvarchar](100) NULL,
	[ReasonCode] [nvarchar](100) NULL,
	[GenBusPostingGroup] [nvarchar](100) NULL,
	[EU3PartyTrade] [bit] NULL,
	[TransactionType] [nvarchar](100) NULL,
	[TransportMethod] [nvarchar](100) NULL,
	[VATCountryRegionCode] [nvarchar](100) NULL,
	[SelltoCustomerName] [nvarchar](100) NULL,
	[SelltoCustomerName2] [nvarchar](100) NULL,
	[SelltoAddress] [nvarchar](100) NULL,
	[SelltoAddress2] [nvarchar](100) NULL,
	[SelltoCity] [nvarchar](100) NULL,
	[SelltoContact] [nvarchar](100) NULL,
	[BilltoPostCode] [nvarchar](100) NULL,
	[BilltoCounty] [nvarchar](100) NULL,
	[BilltoCountryRegionCode] [nvarchar](100) NULL,
	[SelltoPostCode] [nvarchar](100) NULL,
	[SelltoCounty] [nvarchar](100) NULL,
	[SelltoCountryRegionCode] [nvarchar](100) NULL,
	[ShiptoPostCode] [nvarchar](100) NULL,
	[ShiptoCounty] [nvarchar](100) NULL,
	[ShiptoCountryRegionCode] [nvarchar](100) NULL,
	[BalAccountType] [nvarchar](100) NULL,
	[ExitPoint] [nvarchar](100) NULL,
	[Correction] [bit] NULL,
	[DocumentDate] [date] NULL,
	[ExternalDocumentNo] [nvarchar](100) NULL,
	[Area] [nvarchar](100) NULL,
	[ShippingAgentCode] [nvarchar](100) NULL,
	[ShippingAgentServiceCode] [nvarchar](100) NULL,
	[PackageTrackingNo] [nvarchar](100) NULL,
	[TransactionSpecification] [nvarchar](100) NULL,
	[PaymentMethodCode] [nvarchar](100) NULL,
	[PreAssignedNoSeries] [nvarchar](100) NULL,
	[NoSeries] [nvarchar](100) NULL,
	[PreAssignedNo] [nvarchar](100) NULL,
	[UserID] [nvarchar](100) NULL,
	[SourceCode] [nvarchar](100) NULL,
	[TaxAreaCode] [nvarchar](100) NULL,
	[TaxLiable] [bit] NULL,
	[VATBusPostingGroup] [nvarchar](100) NULL,
	[VATBaseDiscount] [decimal](18, 10) NULL,
	[PrepmtCrMemoNoSeries] [nvarchar](100) NULL,
	[PrepaymentCreditMemo] [bit] NULL,
	[PrepaymentOrderNo] [nvarchar](100) NULL,
	[SelltoPhoneNo] [nvarchar](100) NULL,
	[SelltoEMail] [nvarchar](100) NULL,
	[WorkDescription] [nvarchar](100) NULL,
	[DimensionSetID] [int] NULL,
	[DocumentExchangeIdentifier] [nvarchar](100) NULL,
	[DocumentExchangeStatus] [nvarchar](100) NULL,
	[DocExchOriginalIdentifier] [nvarchar](100) NULL,
	[Paid] [bit] NULL,
	[RemainingAmount] [decimal](18, 10) NULL,
	[CustLedgerEntryNo] [int] NULL,
	[InvoiceDiscountAmount] [decimal](18, 10) NULL,
	[Cancelled] [bit] NULL,
	[Corrective] [bit] NULL,
	[CampaignNo] [nvarchar](100) NULL,
	[SelltoContactNo] [nvarchar](100) NULL,
	[BilltoContactNo] [nvarchar](100) NULL,
	[OpportunityNo] [nvarchar](100) NULL,
	[ResponsibilityCenter] [nvarchar](100) NULL,
	[ReturnOrderNo] [nvarchar](100) NULL,
	[ReturnOrderNoSeries] [nvarchar](100) NULL,
	[AllowLineDisc] [bit] NULL,
	[GetReturnReceiptUsed] [bit] NULL,
	[Id] [nvarchar](100) NULL,
 CONSTRAINT [PK_SalesCrMemoHeader] PRIMARY KEY CLUSTERED 
(
	[No] ASC,
	[CompanyCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
