/****** Object:  Table [dbo].[PurchaseHeader]    Script Date: 10/27/2022 8:34:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseHeader](
	[No] [nvarchar](20) NOT NULL,
	[CompanyCode] [nvarchar](10) NOT NULL,
	[DocumentType] [nvarchar](100) NULL,
	[AppliestoDocNo] [nvarchar](100) NULL,
	[AppliestoDocType] [nvarchar](100) NULL,
	[AppliestoID] [nvarchar](100) NULL,
	[Area] [nvarchar](100) NULL,
	[AssignedUserID] [nvarchar](100) NULL,
	[BalAccountNo] [nvarchar](100) NULL,
	[BalAccountType] [nvarchar](100) NULL,
	[BuyfromAddress] [nvarchar](100) NULL,
	[BuyfromAddress2] [nvarchar](100) NULL,
	[BuyfromCity] [nvarchar](100) NULL,
	[BuyfromContact] [nvarchar](100) NULL,
	[BuyfromContactNo] [nvarchar](100) NULL,
	[BuyfromCountryRegionCode] [nvarchar](100) NULL,
	[BuyfromCounty] [nvarchar](100) NULL,
	[BuyfromICPartnerCode] [nvarchar](100) NULL,
	[BuyfromPostCode] [nvarchar](100) NULL,
	[BuyfromVendorName] [nvarchar](100) NULL,
	[BuyfromVendorName2] [nvarchar](100) NULL,
	[BuyfromVendorNo] [nvarchar](100) NULL,
	[CampaignNo] [nvarchar](100) NULL,
	[CompressPrepayment] [bit] NULL,
	[Correction] [bit] NULL,
	[CreditorNo] [nvarchar](100) NULL,
	[CurrencyCode] [nvarchar](100) NULL,
	[CurrencyFactor] [decimal](18, 10) NULL,
	[DimensionSetID] [bigint] NULL,
	[DocNoOccurrence] [bigint] NULL,
	[DocumentDate] [date] NULL,
	[DueDate] [date] NULL,
	[EntryPoint] [nvarchar](100) NULL,
	[ExpectedReceiptDate] [date] NULL,
	[GenBusPostingGroup] [nvarchar](100) NULL,
	[ICDirection] [nvarchar](100) NULL,
	[ICStatus] [nvarchar](100) NULL,
	[Id] [nvarchar](100) NULL,
	[InboundWhseHandlingTime] [nvarchar](100) NULL,
	[IncomingDocumentEntryNo] [bigint] NULL,
	[Invoice] [bit] NULL,
	[InvoiceDiscCode] [nvarchar](100) NULL,
	[InvoiceDiscountCalculation] [nvarchar](100) NULL,
	[InvoiceDiscountValue] [bigint] NULL,
	[InvoiceReceiptDate] [date] NULL,
	[JobQueueEntryID] [nvarchar](100) NULL,
	[JobQueueStatus] [nvarchar](100) NULL,
	[LanguageCode] [nvarchar](100) NULL,
	[LastPostingNo] [nvarchar](100) NULL,
	[LastPrepaymentNo] [nvarchar](100) NULL,
	[LastPrepmtCrMemoNo] [nvarchar](100) NULL,
	[LastReceivingNo] [nvarchar](100) NULL,
	[LastReturnShipmentNo] [nvarchar](100) NULL,
	[LeadTimeCalculation] [nvarchar](100) NULL,
	[LocationCode] [nvarchar](100) NULL,
	[NoPrinted] [bigint] NULL,
	[NoSeries] [nvarchar](100) NULL,
	[OnHold] [nvarchar](100) NOT NULL,
	[OrderAddressCode] [nvarchar](100) NULL,
	[OrderClass] [nvarchar](100) NULL,
	[OrderDate] [date] NULL,
	[PaytoAddress] [nvarchar](100) NULL,
	[PaytoAddress2] [nvarchar](100) NULL,
	[PaytoCity] [nvarchar](100) NULL,
	[PaytoContact] [nvarchar](100) NULL,
	[PaytoContactNo] [nvarchar](100) NULL,
	[PaytoCountryRegionCode] [nvarchar](100) NULL,
	[PaytoCounty] [nvarchar](100) NULL,
	[PaytoICPartnerCode] [nvarchar](100) NULL,
	[PaytoName] [nvarchar](100) NULL,
	[PaytoName2] [nvarchar](100) NULL,
	[PaytoPostCode] [nvarchar](100) NULL,
	[PaytoVendorNo] [nvarchar](100) NULL,
	[PaymentDiscount] [bigint] NULL,
	[PaymentMethodCode] [nvarchar](100) NULL,
	[PaymentReference] [nvarchar](100) NULL,
	[PaymentTermsCode] [nvarchar](100) NULL,
	[PmtDiscountDate] [date] NULL,
	[PostingDate] [date] NULL,
	[PostingDescription] [nvarchar](100) NULL,
	[PostingNo] [nvarchar](100) NULL,
	[PostingNoSeries] [nvarchar](100) NULL,
	[PostingfromWhseRef] [bigint] NULL,
	[Prepayment] [bigint] NULL,
	[PrepaymentDueDate] [date] NULL,
	[PrepaymentNo] [nvarchar](100) NULL,
	[PrepaymentNoSeries] [nvarchar](100) NULL,
	[PrepmtCrMemoNo] [nvarchar](100) NULL,
	[PrepmtCrMemoNoSeries] [nvarchar](100) NULL,
	[PrepmtPaymentDiscount] [bigint] NULL,
	[PrepmtPaymentTermsCode] [nvarchar](100) NULL,
	[PrepmtPmtDiscountDate] [date] NULL,
	[PrepmtPostingDescription] [nvarchar](100) NULL,
	[PriceCalculationMethod] [nvarchar](100) NULL,
	[PricesIncludingVAT] [bit] NULL,
	[PrintPostedDocuments] [bit] NULL,
	[PromisedReceiptDate] [date] NULL,
	[PurchaserCode] [nvarchar](100) NULL,
	[QuoteNo] [nvarchar](100) NULL,
	[ReasonCode] [nvarchar](100) NULL,
	[Receive] [bit] NULL,
	[ReceivingNo] [nvarchar](100) NULL,
	[ReceivingNoSeries] [nvarchar](100) NULL,
	[RequestedReceiptDate] [date] NULL,
	[ResponsibilityCenter] [nvarchar](100) NULL,
	[ReturnShipmentNo] [nvarchar](100) NULL,
	[ReturnShipmentNoSeries] [nvarchar](100) NULL,
	[SelltoCustomerNo] [nvarchar](100) NULL,
	[SendICDocument] [bit] NULL,
	[Ship] [bit] NULL,
	[ShiptoAddress] [nvarchar](100) NULL,
	[ShiptoAddress2] [nvarchar](100) NULL,
	[ShiptoCity] [nvarchar](100) NULL,
	[ShiptoCode] [nvarchar](100) NULL,
	[ShiptoContact] [nvarchar](100) NULL,
	[ShiptoCountryRegionCode] [nvarchar](100) NULL,
	[ShiptoCounty] [nvarchar](100) NULL,
	[ShiptoName] [nvarchar](100) NULL,
	[ShiptoName2] [nvarchar](100) NULL,
	[ShiptoPostCode] [nvarchar](100) NULL,
	[ShipmentMethodCode] [nvarchar](100) NULL,
	[ShortcutDimension1Code] [nvarchar](100) NULL,
	[ShortcutDimension2Code] [nvarchar](100) NULL,
	[Status] [nvarchar](100) NULL,
	[SystemCreatedAt] [nvarchar](100) NULL,
	[SystemCreatedBy] [nvarchar](100) NULL,
	[SystemId] [nvarchar](100) NULL,
	[SystemModifiedAt] [nvarchar](100) NULL,
	[SystemModifiedBy] [nvarchar](100) NULL,
	[TaxAreaCode] [nvarchar](100) NULL,
	[TaxLiable] [bit] NULL,
	[TransactionSpecification] [nvarchar](100) NULL,
	[TransactionType] [nvarchar](100) NULL,
	[TransportMethod] [nvarchar](100) NULL,
	[VATBaseDiscount] [bigint] NULL,
	[VATBusPostingGroup] [nvarchar](100) NULL,
	[VATCountryRegionCode] [nvarchar](100) NULL,
	[VATRegistrationNo] [nvarchar](100) NULL,
	[VendorAuthorizationNo] [nvarchar](100) NULL,
	[VendorCrMemoNo] [nvarchar](100) NULL,
	[VendorInvoiceNo] [nvarchar](100) NULL,
	[VendorOrderNo] [nvarchar](100) NULL,
	[VendorPostingGroup] [nvarchar](100) NULL,
	[VendorShipmentNo] [nvarchar](100) NULL,
	[YourReference] [nvarchar](100) NULL,
	[ARcdNotInvExVATLCY] [decimal](18, 10) NULL,
	[Amount] [decimal](18, 10) NULL,
	[AmountIncludingVAT] [decimal](18, 10) NULL,
	[AmtRcdNotInvoicedLCY] [decimal](18, 10) NULL,
	[Comment] [bit] NULL,
	[CompletelyReceived] [bit] NULL,
	[InvoiceDiscountAmount] [bigint] NULL,
	[NoofArchivedVersions] [bigint] NULL,
	[PartiallyInvoiced] [bit] NULL,
	[PendingApprovals] [bigint] NULL,
	[RecalculateInvoiceDisc] [bit] NULL,
 CONSTRAINT [PK_PurchaseHeader_1] PRIMARY KEY CLUSTERED 
(
	[No] ASC,
	[CompanyCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
