/****** Object:  Table [dbo].[PurchaseLine]    Script Date: 10/27/2022 8:34:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseLine](
	[DocumentNo] [nvarchar](20) NOT NULL,
	[DocumentType] [nvarchar](40) NOT NULL,
	[LineNo] [bigint] NOT NULL,
	[CompanyCode] [nvarchar](10) NOT NULL,
	[ARcdNotInvExVATLCY] [decimal](38, 10) NULL,
	[AllowInvoiceDisc] [bit] NULL,
	[AllowItemChargeAssignment] [bit] NULL,
	[Amount] [decimal](38, 10) NULL,
	[AmountIncludingVAT] [decimal](38, 10) NULL,
	[AmtRcdNotInvoiced] [decimal](38, 10) NULL,
	[AmtRcdNotInvoicedLCY] [decimal](38, 10) NULL,
	[AppltoItemEntry] [bigint] NULL,
	[Area] [nvarchar](100) NULL,
	[AttachedtoLineNo] [bigint] NULL,
	[BinCode] [nvarchar](100) NULL,
	[BlanketOrderLineNo] [bigint] NULL,
	[BlanketOrderNo] [nvarchar](100) NULL,
	[BudgetedFANo] [nvarchar](100) NULL,
	[BuyfromVendorNo] [nvarchar](100) NULL,
	[CompletelyReceived] [bit] NULL,
	[CopiedFromPostedDoc] [bit] NULL,
	[CrossReferenceNo] [nvarchar](100) NULL,
	[CrossReferenceType] [nvarchar](100) NULL,
	[CrossReferenceTypeNo] [nvarchar](100) NULL,
	[CurrencyCode] [nvarchar](100) NULL,
	[DeferralCode] [nvarchar](100) NULL,
	[DeprAcquisitionCost] [bit] NULL,
	[DepruntilFAPostingDate] [bit] NULL,
	[DepreciationBookCode] [nvarchar](100) NULL,
	[Description] [nvarchar](100) NULL,
	[Description2] [nvarchar](100) NULL,
	[DimensionSetID] [bigint] NULL,
	[DirectUnitCost] [decimal](38, 10) NULL,
	[DropShipment] [bit] NULL,
	[DuplicateinDepreciationBook] [nvarchar](100) NULL,
	[EntryPoint] [nvarchar](100) NULL,
	[ExpectedReceiptDate] [date] NULL,
	[FAPostingDate] [date] NULL,
	[FAPostingType] [nvarchar](100) NULL,
	[Finished] [bit] NULL,
	[GenBusPostingGroup] [nvarchar](100) NULL,
	[GenProdPostingGroup] [nvarchar](100) NULL,
	[GrossWeight] [decimal](38, 10) NULL,
	[ICItemReferenceNo] [nvarchar](100) NULL,
	[ICPartnerCode] [nvarchar](100) NULL,
	[ICPartnerRefType] [nvarchar](100) NULL,
	[ICPartnerReference] [nvarchar](100) NULL,
	[InboundWhseHandlingTime] [nvarchar](100) NULL,
	[IndirectCost] [decimal](38, 10) NULL,
	[InsuranceNo] [nvarchar](100) NULL,
	[InvDiscAmounttoInvoice] [decimal](38, 10) NULL,
	[InvDiscountAmount] [decimal](38, 10) NULL,
	[ItemCategoryCode] [nvarchar](100) NULL,
	[ItemReferenceNo] [nvarchar](100) NULL,
	[ItemReferenceType] [nvarchar](100) NULL,
	[ItemReferenceTypeNo] [nvarchar](100) NULL,
	[ItemReferenceUnitofMeasure] [nvarchar](100) NULL,
	[JobCurrencyCode] [nvarchar](100) NULL,
	[JobCurrencyFactor] [decimal](38, 10) NULL,
	[JobLineAmount] [decimal](38, 10) NULL,
	[JobLineAmountLCY] [decimal](38, 10) NULL,
	[JobLineDiscAmountLCY] [decimal](38, 10) NULL,
	[JobLineDiscount] [decimal](38, 10) NULL,
	[JobLineDiscountAmount] [decimal](38, 10) NULL,
	[JobLineType] [nvarchar](100) NULL,
	[JobNo] [nvarchar](100) NULL,
	[JobPlanningLineNo] [bigint] NULL,
	[JobRemainingQty] [decimal](38, 10) NULL,
	[JobRemainingQtyBase] [decimal](38, 10) NULL,
	[JobTaskNo] [nvarchar](100) NULL,
	[JobTotalPrice] [decimal](38, 10) NULL,
	[JobTotalPriceLCY] [decimal](38, 10) NULL,
	[JobUnitPrice] [decimal](38, 10) NULL,
	[JobUnitPriceLCY] [decimal](38, 10) NULL,
	[LeadTimeCalculation] [nvarchar](100) NULL,
	[LineAmount] [decimal](38, 10) NULL,
	[LineDiscount] [decimal](38, 10) NULL,
	[LineDiscountAmount] [decimal](38, 10) NULL,
	[LocationCode] [nvarchar](100) NULL,
	[MPSOrder] [bit] NULL,
	[MaintenanceCode] [nvarchar](100) NULL,
	[NetWeight] [decimal](38, 10) NULL,
	[No] [nvarchar](100) NULL,
	[Nonstock] [bit] NULL,
	[OperationNo] [nvarchar](100) NULL,
	[OrderDate] [date] NULL,
	[OrderLineNo] [bigint] NULL,
	[OrderNo] [nvarchar](100) NULL,
	[OutstandingAmount] [decimal](38, 10) NULL,
	[OutstandingAmountLCY] [decimal](38, 10) NULL,
	[OutstandingAmtExVATLCY] [decimal](38, 10) NULL,
	[OutstandingQtyBase] [decimal](38, 10) NULL,
	[OutstandingQuantity] [decimal](38, 10) NULL,
	[OverReceiptApprovalStatus] [nvarchar](100) NULL,
	[OverReceiptCode] [nvarchar](100) NULL,
	[OverReceiptQuantity] [decimal](38, 10) NULL,
	[OverheadRate] [decimal](38, 10) NULL,
	[PaytoVendorNo] [nvarchar](100) NULL,
	[PlannedReceiptDate] [date] NULL,
	[PlanningFlexibility] [nvarchar](100) NULL,
	[PmtDiscountAmount] [decimal](38, 10) NULL,
	[PostingGroup] [nvarchar](100) NULL,
	[Prepayment] [decimal](38, 10) NULL,
	[PrepaymentAmount] [decimal](38, 10) NULL,
	[PrepaymentLine] [bit] NULL,
	[PrepaymentTaxAreaCode] [nvarchar](100) NULL,
	[PrepaymentTaxGroupCode] [nvarchar](100) NULL,
	[PrepaymentTaxLiable] [bit] NULL,
	[PrepaymentVAT] [decimal](38, 10) NULL,
	[PrepaymentVATDifference] [decimal](38, 10) NULL,
	[PrepaymentVATIdentifier] [nvarchar](100) NULL,
	[PrepmtAmtDeducted] [decimal](38, 10) NULL,
	[PrepmtAmttoDeduct] [decimal](38, 10) NULL,
	[PrepmtVATDiffDeducted] [decimal](38, 10) NULL,
	[PrepmtVATDifftoDeduct] [decimal](38, 10) NULL,
	[PrepmtAmountInvLCY] [decimal](38, 10) NULL,
	[PrepmtAmountInvInclVAT] [decimal](38, 10) NULL,
	[PrepmtAmtInclVAT] [decimal](38, 10) NULL,
	[PrepmtAmtInv] [decimal](38, 10) NULL,
	[PrepmtLineAmount] [decimal](38, 10) NULL,
	[PrepmtVATAmountInvLCY] [decimal](38, 10) NULL,
	[PrepmtVATBaseAmt] [decimal](38, 10) NULL,
	[PrepmtVATCalcType] [nvarchar](100) NULL,
	[PriceCalculationMethod] [nvarchar](100) NULL,
	[ProdOrderLineNo] [bigint] NULL,
	[ProdOrderNo] [nvarchar](100) NULL,
	[Profit] [decimal](38, 10) NULL,
	[PromisedReceiptDate] [date] NULL,
	[PurchasingCode] [nvarchar](100) NULL,
	[QtyInvoicedBase] [decimal](38, 10) NULL,
	[QtyRcdNotInvoiced] [decimal](38, 10) NULL,
	[QtyRcdNotInvoicedBase] [decimal](38, 10) NULL,
	[QtyReceivedBase] [decimal](38, 10) NULL,
	[QtyperUnitofMeasure] [decimal](38, 10) NULL,
	[QtytoInvoice] [decimal](38, 10) NULL,
	[QtytoInvoiceBase] [decimal](38, 10) NULL,
	[QtytoReceive] [decimal](38, 10) NULL,
	[QtytoReceiveBase] [decimal](38, 10) NULL,
	[Quantity] [decimal](38, 10) NULL,
	[QuantityBase] [decimal](38, 10) NULL,
	[QuantityInvoiced] [decimal](38, 10) NULL,
	[QuantityReceived] [decimal](38, 10) NULL,
	[RecalculateInvoiceDisc] [bit] NULL,
	[ReceiptLineNo] [bigint] NULL,
	[ReceiptNo] [nvarchar](100) NULL,
	[RequestedReceiptDate] [date] NULL,
	[ResponsibilityCenter] [nvarchar](100) NULL,
	[RetQtyShpdNotInvdBase] [decimal](38, 10) NULL,
	[ReturnQtyShipped] [decimal](38, 10) NULL,
	[ReturnQtyShippedBase] [decimal](38, 10) NULL,
	[ReturnQtyShippedNotInvd] [decimal](38, 10) NULL,
	[ReturnQtytoShip] [decimal](38, 10) NULL,
	[ReturnQtytoShipBase] [decimal](38, 10) NULL,
	[ReturnReasonCode] [nvarchar](100) NULL,
	[ReturnShipmentLineNo] [bigint] NULL,
	[ReturnShipmentNo] [nvarchar](100) NULL,
	[ReturnShpdNotInvd] [decimal](38, 10) NULL,
	[ReturnShpdNotInvdLCY] [decimal](38, 10) NULL,
	[ReturnsDeferralStartDate] [date] NULL,
	[ReverseChargeItem] [bit] NULL,
	[RoutingNo] [nvarchar](100) NULL,
	[RoutingReferenceNo] [bigint] NULL,
	[SafetyLeadTime] [nvarchar](100) NULL,
	[SalesOrderLineNo] [bigint] NULL,
	[SalesOrderNo] [nvarchar](100) NULL,
	[SalvageValue] [decimal](38, 10) NULL,
	[ShortcutDimension1Code] [nvarchar](100) NULL,
	[ShortcutDimension2Code] [nvarchar](100) NULL,
	[SpecialOrder] [bit] NULL,
	[SpecialOrderSalesLineNo] [bigint] NULL,
	[SpecialOrderSalesNo] [nvarchar](100) NULL,
	[Subtype] [nvarchar](100) NULL,
	[SystemCreatedEntry] [bit] NULL,
	[SystemCreatedAt] [nvarchar](100) NULL,
	[SystemCreatedBy] [nvarchar](100) NULL,
	[SystemId] [nvarchar](100) NULL,
	[SystemModifiedAt] [nvarchar](100) NULL,
	[SystemModifiedBy] [nvarchar](100) NULL,
	[TaxAreaCode] [nvarchar](100) NULL,
	[TaxGroupCode] [nvarchar](100) NULL,
	[TaxLiable] [bit] NULL,
	[TransactionSpecification] [nvarchar](100) NULL,
	[TransactionType] [nvarchar](100) NULL,
	[TransportMethod] [nvarchar](100) NULL,
	[Type] [nvarchar](100) NULL,
	[UnitCost] [decimal](38, 10) NULL,
	[UnitCostLCY] [decimal](38, 10) NULL,
	[UnitPriceLCY] [decimal](38, 10) NULL,
	[UnitVolume] [decimal](38, 10) NULL,
	[UnitofMeasure] [nvarchar](100) NULL,
	[UnitofMeasureCrossRef] [nvarchar](100) NULL,
	[UnitofMeasureCode] [nvarchar](100) NULL,
	[UnitsperParcel] [decimal](38, 10) NULL,
	[UseDuplicationList] [bit] NULL,
	[UseTax] [bit] NULL,
	[VAT] [decimal](38, 10) NULL,
	[VATBaseAmount] [decimal](38, 10) NULL,
	[VATBusPostingGroup] [nvarchar](100) NULL,
	[VATCalculationType] [nvarchar](100) NULL,
	[VATDifference] [decimal](38, 10) NULL,
	[VATIdentifier] [nvarchar](100) NULL,
	[VATProdPostingGroup] [nvarchar](100) NULL,
	[VariantCode] [nvarchar](100) NULL,
	[VendorItemNo] [nvarchar](100) NULL,
	[WorkCenterNo] [nvarchar](100) NULL,
	[AttachedDocCount] [bigint] NULL,
	[QtyAssigned] [decimal](38, 10) NULL,
	[QtytoAssign] [decimal](38, 10) NULL,
	[ReservedQtyBase] [decimal](38, 10) NULL,
	[ReservedQuantity] [decimal](38, 10) NULL,
	[WhseOutstandingQtyBase] [decimal](38, 10) NULL,
 CONSTRAINT [PK_PurchaseLine] PRIMARY KEY CLUSTERED 
(
	[DocumentNo] ASC,
	[DocumentType] ASC,
	[LineNo] ASC,
	[CompanyCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
