/****** Object:  Table [dbo].[ItemLedgerEntry]    Script Date: 10/27/2022 8:34:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemLedgerEntry](
	[EntryNo] [bigint] NOT NULL,
	[CompanyCode] [nvarchar](10) NOT NULL,
	[ItemNo] [nvarchar](150) NULL,
	[PostingDate] [date] NULL,
	[EntryType] [nvarchar](150) NULL,
	[SourceNo] [nvarchar](150) NULL,
	[DocumentNo] [nvarchar](150) NULL,
	[Description] [nvarchar](150) NULL,
	[LocationCode] [nvarchar](150) NULL,
	[Quantity] [decimal](18, 10) NULL,
	[RemainingQuantity] [decimal](18, 10) NULL,
	[InvoicedQuantity] [decimal](18, 10) NULL,
	[AppliestoEntry] [decimal](18, 10) NULL,
	[Open] [bit] NULL,
	[GlobalDimension1Code] [nvarchar](150) NULL,
	[GlobalDimension2Code] [nvarchar](150) NULL,
	[Positive] [bit] NULL,
	[ShptMethodCode] [nvarchar](150) NULL,
	[SourceType] [nvarchar](150) NULL,
	[DropShipment] [bit] NULL,
	[TransactionType] [nvarchar](150) NULL,
	[TransportMethod] [nvarchar](150) NULL,
	[CountryRegionCode] [nvarchar](150) NULL,
	[EntryExitPoint] [nvarchar](150) NULL,
	[DocumentDate] [date] NULL,
	[ExternalDocumentNo] [nvarchar](150) NULL,
	[Area] [nvarchar](150) NULL,
	[TransactionSpecification] [nvarchar](150) NULL,
	[NoSeries] [nvarchar](150) NULL,
	[DocumentType] [nvarchar](150) NULL,
	[DocumentLineNo] [bigint] NULL,
	[OrderType] [nvarchar](150) NULL,
	[OrderNo] [nvarchar](150) NULL,
	[OrderLineNo] [bigint] NULL,
	[DimensionSetID] [bigint] NULL,
	[AssembletoOrder] [bit] NULL,
	[JobNo] [nvarchar](150) NULL,
	[JobTaskNo] [nvarchar](150) NULL,
	[JobPurchase] [bit] NULL,
	[VariantCode] [nvarchar](150) NULL,
	[QtyperUnitofMeasure] [decimal](18, 10) NULL,
	[UnitofMeasureCode] [nvarchar](150) NULL,
	[DerivedfromBlanketOrder] [bit] NULL,
	[CrossReferenceNo] [nvarchar](150) NULL,
	[OriginallyOrderedNo] [nvarchar](150) NULL,
	[OriginallyOrderedVarCode] [nvarchar](150) NULL,
	[OutofStockSubstitution] [bit] NULL,
	[ItemCategoryCode] [nvarchar](150) NULL,
	[Nonstock] [bit] NULL,
	[PurchasingCode] [nvarchar](150) NULL,
	[ItemReferenceNo] [nvarchar](150) NULL,
	[CompletelyInvoiced] [bit] NULL,
	[LastInvoiceDate] [date] NULL,
	[AppliedEntrytoAdjust] [bit] NULL,
	[Correction] [bit] NULL,
	[ShippedQtyNotReturned] [decimal](18, 10) NULL,
	[ProdOrderCompLineNo] [bigint] NULL,
	[SerialNo] [nvarchar](150) NULL,
	[LotNo] [nvarchar](150) NULL,
	[WarrantyDate] [date] NULL,
	[ExpirationDate] [date] NULL,
	[ItemTracking] [nvarchar](150) NULL,
	[PackageNo] [nvarchar](150) NULL,
	[ReturnReasonCode] [nvarchar](150) NULL,
	[ReservedQuantity] [decimal](18, 10) NULL,
	[CostAmountExpected] [decimal](18, 10) NULL,
	[CostAmountActual] [decimal](18, 10) NULL,
	[CostAmountNonInvtbl] [decimal](18, 10) NULL,
	[CostAmountExpectedACY] [decimal](18, 10) NULL,
	[CostAmountActualACY] [decimal](18, 10) NULL,
	[CostAmountNonInvtblACY] [decimal](18, 10) NULL,
	[PurchaseAmountExpected] [decimal](18, 10) NULL,
	[PurchaseAmountActual] [decimal](18, 10) NULL,
	[SalesAmountExpected] [decimal](18, 10) NULL,
	[SalesAmountActual] [decimal](18, 10) NULL,
	[SystemCreatedDate] [datetime2](7) NULL,
	[SystemModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_ItemLedgerEntry] PRIMARY KEY CLUSTERED 
(
	[EntryNo] ASC,
	[CompanyCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
