/****** Object:  Table [dbo].[Items]    Script Date: 10/27/2022 8:34:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[No] [nvarchar](20) NOT NULL,
	[CompanyCode] [nvarchar](10) NOT NULL,
	[AllowInvoiceDisc] [bit] NULL,
	[AllowOnlineAdjustment] [bit] NULL,
	[AlternativeItemNo] [nvarchar](100) NULL,
	[ApplicationWkshUserID] [nvarchar](100) NULL,
	[AssemblyPolicy] [nvarchar](100) NULL,
	[AutomaticExtTexts] [bit] NULL,
	[BaseUnitofMeasure] [nvarchar](100) NULL,
	[BlockReason] [nvarchar](100) NULL,
	[Blocked] [bit] NULL,
	[BudgetProfit] [decimal](18, 10) NULL,
	[BudgetQuantity] [decimal](18, 10) NULL,
	[BudgetedAmount] [decimal](18, 10) NULL,
	[CommissionGroup] [decimal](18, 10) NULL,
	[CommonItemNo] [nvarchar](100) NULL,
	[CostisAdjusted] [bit] NULL,
	[CostingMethod] [nvarchar](100) NULL,
	[CountryRegionPurchasedCode] [nvarchar](100) NULL,
	[CountryRegionofOriginCode] [nvarchar](100) NULL,
	[CreatedFromNonstockItem] [bit] NULL,
	[Critical] [bit] NULL,
	[DampenerPeriod] [nvarchar](100) NULL,
	[DampenerQuantity] [decimal](18, 10) NULL,
	[DefaultDeferralTemplateCode] [nvarchar](100) NULL,
	[Description] [nvarchar](100) NULL,
	[Description2] [nvarchar](100) NULL,
	[DiscreteOrderQuantity] [decimal](18, 10) NULL,
	[Durability] [nvarchar](100) NULL,
	[DutyCode] [nvarchar](100) NULL,
	[DutyDue] [decimal](18, 10) NULL,
	[DutyUnitConversion] [decimal](18, 10) NULL,
	[ExpirationCalculation] [nvarchar](100) NULL,
	[FlushingMethod] [nvarchar](100) NULL,
	[FreightType] [nvarchar](100) NULL,
	[GTIN] [nvarchar](100) NULL,
	[GenProdPostingGroup] [nvarchar](100) NULL,
	[GlobalDimension1Code] [nvarchar](100) NULL,
	[GlobalDimension2Code] [nvarchar](100) NULL,
	[GrossWeight] [decimal](18, 10) NULL,
	[Id] [nvarchar](100) NULL,
	[IncludeInventory] [bit] NULL,
	[IndirectCost] [decimal](18, 10) NULL,
	[InventoryPostingGroup] [nvarchar](100) NULL,
	[InventoryValueZero] [bit] NULL,
	[ItemCategoryCode] [nvarchar](100) NULL,
	[ItemCategoryId] [nvarchar](100) NULL,
	[ItemDiscGroup] [nvarchar](100) NULL,
	[ItemTrackingCode] [nvarchar](100) NULL,
	[LastCountingPeriodUpdate] [date] NULL,
	[LastDateModified] [date] NULL,
	[LastDateTimeModified] [date] NULL,
	[LastDirectCost] [decimal](18, 10) NULL,
	[LastTimeModified] [nvarchar](100) NULL,
	[LastUnitCostCalcDate] [date] NULL,
	[LeadTimeCalculation] [nvarchar](100) NULL,
	[LotAccumulationPeriod] [nvarchar](100) NULL,
	[LotNos] [nvarchar](100) NULL,
	[LotSize] [decimal](18, 10) NULL,
	[LowLevelCode] [decimal](18, 10) NULL,
	[ManufacturerCode] [nvarchar](100) NULL,
	[ManufacturingPolicy] [nvarchar](100) NULL,
	[MaximumInventory] [decimal](18, 10) NULL,
	[MaximumOrderQuantity] [decimal](18, 10) NULL,
	[MinimumOrderQuantity] [decimal](18, 10) NULL,
	[NetWeight] [decimal](18, 10) NULL,
	[NextCountingEndDate] [date] NULL,
	[NextCountingStartDate] [date] NULL,
	[No2] [nvarchar](100) NULL,
	[NoSeries] [nvarchar](100) NULL,
	[OrderMultiple] [decimal](18, 10) NULL,
	[OrderTrackingPolicy] [nvarchar](100) NULL,
	[OverReceiptCode] [nvarchar](100) NULL,
	[OverflowLevel] [decimal](18, 10) NULL,
	[OverheadRate] [decimal](18, 10) NULL,
	[PhysInvtCountingPeriodCode] [nvarchar](100) NULL,
	[Picture] [nvarchar](100) NULL,
	[PreventNegativeInventory] [nvarchar](100) NULL,
	[PriceIncludesVAT] [bit] NULL,
	[PriceUnitConversion] [decimal](18, 10) NULL,
	[PriceProfitCalculation] [nvarchar](100) NULL,
	[ProductionBOMNo] [nvarchar](100) NULL,
	[Profit] [decimal](18, 10) NULL,
	[PurchUnitofMeasure] [nvarchar](100) NULL,
	[PurchasingBlocked] [bit] NULL,
	[PurchasingCode] [nvarchar](100) NULL,
	[PutawayTemplateCode] [nvarchar](100) NULL,
	[PutawayUnitofMeasureCode] [nvarchar](100) NULL,
	[ReorderPoint] [decimal](18, 10) NULL,
	[ReorderQuantity] [decimal](18, 10) NULL,
	[ReorderingPolicy] [nvarchar](100) NULL,
	[ReplenishmentSystem] [nvarchar](100) NULL,
	[ReschedulingPeriod] [nvarchar](100) NULL,
	[Reserve] [nvarchar](100) NULL,
	[ReverseChargeApplies] [bit] NULL,
	[RolledupCapOverheadCost] [decimal](18, 10) NULL,
	[RolledupCapacityCost] [decimal](18, 10) NULL,
	[RolledupMaterialCost] [decimal](18, 10) NULL,
	[RolledupMfgOvhdCost] [decimal](18, 10) NULL,
	[RolledupSubcontractedCost] [decimal](18, 10) NULL,
	[RoundingPrecision] [decimal](18, 10) NULL,
	[RoutingNo] [nvarchar](100) NULL,
	[SafetyLeadTime] [nvarchar](100) NULL,
	[SafetyStockQuantity] [decimal](18, 10) NULL,
	[SalesBlocked] [bit] NULL,
	[SalesUnitofMeasure] [nvarchar](100) NULL,
	[Scrap] [decimal](18, 10) NULL,
	[SearchDescription] [nvarchar](100) NULL,
	[SerialNos] [nvarchar](100) NULL,
	[ServiceItemGroup] [nvarchar](100) NULL,
	[ShelfNo] [nvarchar](100) NULL,
	[SingleLevelCapOvhdCost] [decimal](18, 10) NULL,
	[SingleLevelCapacityCost] [decimal](18, 10) NULL,
	[SingleLevelMaterialCost] [decimal](18, 10) NULL,
	[SingleLevelMfgOvhdCost] [decimal](18, 10) NULL,
	[SingleLevelSubcontrdCost] [decimal](18, 10) NULL,
	[SpecialEquipmentCode] [nvarchar](100) NULL,
	[StandardCost] [decimal](18, 10) NULL,
	[StatisticsGroup] [decimal](18, 10) NULL,
	[StockoutWarning] [nvarchar](100) NULL,
	[SystemCreatedAt] [nvarchar](100) NULL,
	[SystemCreatedBy] [nvarchar](100) NULL,
	[SystemId] [nvarchar](100) NULL,
	[SystemModifiedAt] [nvarchar](100) NULL,
	[SystemModifiedBy] [nvarchar](100) NULL,
	[TariffNo] [nvarchar](100) NULL,
	[TaxGroupCode] [nvarchar](100) NULL,
	[TaxGroupId] [nvarchar](100) NULL,
	[TimeBucket] [nvarchar](100) NULL,
	[Type] [nvarchar](100) NULL,
	[UnitCost] [decimal](18, 10) NULL,
	[UnitListPrice] [decimal](18, 10) NULL,
	[UnitPrice] [decimal](18, 10) NULL,
	[UnitVolume] [decimal](18, 10) NULL,
	[UnitofMeasureId] [nvarchar](100) NULL,
	[UnitsperParcel] [decimal](18, 10) NULL,
	[UseCrossDocking] [bit] NULL,
	[VATBusPostingGrPrice] [nvarchar](100) NULL,
	[VATProdPostingGroup] [nvarchar](100) NULL,
	[VendorItemNo] [nvarchar](100) NULL,
	[VendorNo] [nvarchar](100) NULL,
	[WarehouseClassCode] [nvarchar](100) NULL,
	[AssemblyBOM] [bit] NULL,
	[COGSLCY] [decimal](18, 10) NULL,
	[Comment] [bit] NULL,
	[CostisPostedtoGL] [bit] NULL,
	[CostofOpenProductionOrders] [decimal](18, 10) NULL,
	[FPOrderReceiptQty] [decimal](18, 10) NULL,
	[IdentifierCode] [nvarchar](100) NULL,
	[Inventory] [decimal](18, 10) NULL,
	[LastPhysInvtDate] [date] NULL,
	[NegativeAdjmtLCY] [decimal](18, 10) NULL,
	[NegativeAdjmtQty] [decimal](18, 10) NULL,
	[NetChange] [decimal](18, 10) NULL,
	[NetInvoicedQty] [decimal](18, 10) NULL,
	[NoofSubstitutes] [decimal](18, 10) NULL,
	[PlannedOrderReceiptQty] [decimal](18, 10) NULL,
	[PlannedOrderReleaseQty] [decimal](18, 10) NULL,
	[PlanningIssuesQty] [decimal](18, 10) NULL,
	[PlanningReceiptQty] [decimal](18, 10) NULL,
	[PlanningReleaseQty] [decimal](18, 10) NULL,
	[PlanningTransferShipQty] [decimal](18, 10) NULL,
	[PlanningWorksheetQty] [decimal](18, 10) NULL,
	[PositiveAdjmtLCY] [decimal](18, 10) NULL,
	[PositiveAdjmtQty] [decimal](18, 10) NULL,
	[ProdForecastQuantityBase] [decimal](18, 10) NULL,
	[PurchReqReceiptQty] [decimal](18, 10) NULL,
	[PurchReqReleaseQty] [decimal](18, 10) NULL,
	[PurchasesLCY] [decimal](18, 10) NULL,
	[PurchasesQty] [decimal](18, 10) NULL,
	[QtyAssignedtoship] [decimal](18, 10) NULL,
	[QtyPicked] [decimal](18, 10) NULL,
	[QtyinTransit] [decimal](18, 10) NULL,
	[QtyonAsmComponent] [decimal](18, 10) NULL,
	[QtyonAssemblyOrder] [decimal](18, 10) NULL,
	[QtyonComponentLines] [decimal](18, 10) NULL,
	[QtyonJobOrder] [decimal](18, 10) NULL,
	[QtyonProdOrder] [decimal](18, 10) NULL,
	[QtyonPurchOrder] [decimal](18, 10) NULL,
	[QtyonPurchReturn] [decimal](18, 10) NULL,
	[QtyonSalesOrder] [decimal](18, 10) NULL,
	[QtyonSalesReturn] [decimal](18, 10) NULL,
	[QtyonServiceOrder] [decimal](18, 10) NULL,
	[RelOrderReceiptQty] [decimal](18, 10) NULL,
	[ResQtyonAsmComp] [decimal](18, 10) NULL,
	[ResQtyonAssemblyOrder] [decimal](18, 10) NULL,
	[ResQtyonInboundTransfer] [decimal](18, 10) NULL,
	[ResQtyonJobOrder] [decimal](18, 10) NULL,
	[ResQtyonOutboundTransfer] [decimal](18, 10) NULL,
	[ResQtyonProdOrderComp] [decimal](18, 10) NULL,
	[ResQtyonPurchReturns] [decimal](18, 10) NULL,
	[ResQtyonReqLine] [decimal](18, 10) NULL,
	[ResQtyonSalesReturns] [decimal](18, 10) NULL,
	[ResQtyonServiceOrders] [decimal](18, 10) NULL,
	[ReservedQtyonInventory] [decimal](18, 10) NULL,
	[ReservedQtyonProdOrder] [decimal](18, 10) NULL,
	[ReservedQtyonPurchOrders] [decimal](18, 10) NULL,
	[ReservedQtyonSalesOrders] [decimal](18, 10) NULL,
	[SalesLCY] [decimal](18, 10) NULL,
	[SalesQty] [decimal](18, 10) NULL,
	[ScheduledNeedQty] [decimal](18, 10) NULL,
	[ScheduledReceiptQty] [decimal](18, 10) NULL,
	[StockkeepingUnitExists] [bit] NULL,
	[SubstitutesExist] [bit] NULL,
	[TransOrdReceiptQty] [decimal](18, 10) NULL,
	[TransOrdShipmentQty] [decimal](18, 10) NULL,
	[TransferredLCY] [decimal](18, 10) NULL,
	[TransferredQty] [decimal](18, 10) NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[No] ASC,
	[CompanyCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
