/****** Object:  Table [dbo].[PurchaseCrMemoLine]    Script Date: 10/27/2022 8:34:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseCrMemoLine](
	[DocumentNo] [nvarchar](20) NOT NULL,
	[LineNo] [bigint] NOT NULL,
	[CompanyCode] [nvarchar](10) NOT NULL,
	[No] [nvarchar](20) NOT NULL,
	[AllowInvoiceDisc] [bit] NULL,
	[Amount] [decimal](18, 10) NULL,
	[AmountIncludingVAT] [decimal](18, 10) NULL,
	[AppltoItemEntry] [bigint] NULL,
	[Area] [nvarchar](100) NULL,
	[AttachedtoLineNo] [bigint] NULL,
	[BinCode] [nvarchar](100) NULL,
	[BlanketOrderLineNo] [bigint] NULL,
	[BlanketOrderNo] [nvarchar](100) NULL,
	[BudgetedFANo] [nvarchar](100) NULL,
	[BuyfromVendorNo] [nvarchar](100) NULL,
	[CrossReferenceNo] [nvarchar](100) NULL,
	[CrossReferenceType] [nvarchar](100) NULL,
	[CrossReferenceTypeNo] [nvarchar](100) NULL,
	[DeferralCode] [nvarchar](100) NULL,
	[DeprAcquisitionCost] [bit] NULL,
	[DepruntilFAPostingDate] [bit] NULL,
	[DepreciationBookCode] [nvarchar](100) NULL,
	[Description] [nvarchar](100) NULL,
	[Description2] [nvarchar](100) NULL,
	[DimensionSetID] [bigint] NULL,
	[DirectUnitCost] [decimal](18, 10) NULL,
	[DuplicateinDepreciationBook] [nvarchar](100) NULL,
	[EntryPoint] [nvarchar](100) NULL,
	[ExpectedReceiptDate] [date] NULL,
	[FAPostingDate] [date] NULL,
	[FAPostingType] [nvarchar](100) NULL,
	[GenBusPostingGroup] [nvarchar](100) NULL,
	[GenProdPostingGroup] [nvarchar](100) NULL,
	[GrossWeight] [decimal](18, 10) NULL,
	[ICItemReferenceNo] [nvarchar](100) NULL,
	[ICPartnerCode] [nvarchar](100) NULL,
	[ICPartnerRefType] [nvarchar](100) NULL,
	[ICPartnerReference] [nvarchar](100) NULL,
	[IndirectCost] [decimal](18, 10) NULL,
	[InsuranceNo] [nvarchar](100) NULL,
	[InvDiscountAmount] [decimal](18, 10) NULL,
	[ItemCategoryCode] [nvarchar](100) NULL,
	[ItemReferenceNo] [nvarchar](100) NULL,
	[ItemReferenceType] [nvarchar](100) NULL,
	[ItemReferenceTypeNo] [nvarchar](100) NULL,
	[ItemReferenceUnitofMeasure] [nvarchar](100) NULL,
	[JobCurrencyCode] [nvarchar](100) NULL,
	[JobCurrencyFactor] [decimal](18, 10) NULL,
	[JobLineAmount] [decimal](18, 10) NULL,
	[JobLineAmountLCY] [decimal](18, 10) NULL,
	[JobLineDiscAmountLCY] [decimal](18, 10) NULL,
	[JobLineDiscount] [decimal](18, 10) NULL,
	[JobLineDiscountAmount] [decimal](18, 10) NULL,
	[JobLineType] [nvarchar](100) NULL,
	[JobNo] [nvarchar](100) NULL,
	[JobTaskNo] [nvarchar](100) NULL,
	[JobTotalPrice] [decimal](18, 10) NULL,
	[JobTotalPriceLCY] [decimal](18, 10) NULL,
	[JobUnitPrice] [decimal](18, 10) NULL,
	[JobUnitPriceLCY] [decimal](18, 10) NULL,
	[LineAmount] [decimal](18, 10) NULL,
	[LineDiscount] [decimal](18, 10) NULL,
	[LineDiscountAmount] [decimal](18, 10) NULL,
	[LocationCode] [nvarchar](100) NULL,
	[MaintenanceCode] [nvarchar](100) NULL,
	[NetWeight] [decimal](18, 10) NULL,
	[Nonstock] [bit] NULL,
	[OrderLineNo] [bigint] NULL,
	[OrderNo] [nvarchar](100) NULL,
	[PaytoVendorNo] [nvarchar](100) NULL,
	[PmtDiscountAmount] [decimal](18, 10) NULL,
	[PostingDate] [date] NULL,
	[PostingGroup] [nvarchar](100) NULL,
	[PrepaymentLine] [bit] NULL,
	[PriceCalculationMethod] [nvarchar](100) NULL,
	[ProdOrderNo] [nvarchar](100) NULL,
	[PurchasingCode] [nvarchar](100) NULL,
	[QtyperUnitofMeasure] [decimal](18, 10) NULL,
	[Quantity] [decimal](18, 10) NULL,
	[QuantityBase] [decimal](18, 10) NULL,
	[ResponsibilityCenter] [nvarchar](100) NULL,
	[ReturnReasonCode] [nvarchar](100) NULL,
	[ReturnShipmentLineNo] [bigint] NULL,
	[ReturnShipmentNo] [nvarchar](100) NULL,
	[ReverseCharge] [decimal](18, 10) NULL,
	[ReverseChargeItem] [bit] NULL,
	[SalvageValue] [decimal](18, 10) NULL,
	[ShortcutDimension1Code] [nvarchar](100) NULL,
	[ShortcutDimension2Code] [nvarchar](100) NULL,
	[SystemCreatedEntry] [bit] NULL,
	[SystemCreatedAt] [nvarchar](100) NULL,
	[SystemCreatedBy] [nvarchar](100) NULL,
	[SystemId] [nvarchar](100) NULL,
	[SystemModifiedAt] [nvarchar](100) NULL,
	[SystemModifiedBy] [nvarchar](100) NULL,
	[TaxAreaCode] [nvarchar](100) NULL,
	[TaxGroupCode] [nvarchar](100) NULL,
	[TaxLiable] [bit] NULL,
	[TransactionSpecification] [nvarchar](100) NULL,
	[TransactionType] [nvarchar](100) NULL,
	[TransportMethod] [nvarchar](100) NULL,
	[Type] [nvarchar](100) NULL,
	[UnitCost] [decimal](18, 10) NULL,
	[UnitCostLCY] [decimal](18, 10) NULL,
	[UnitPriceLCY] [decimal](18, 10) NULL,
	[UnitVolume] [decimal](18, 10) NULL,
	[UnitofMeasure] [nvarchar](100) NULL,
	[UnitofMeasureCrossRef] [nvarchar](100) NULL,
	[UnitofMeasureCode] [nvarchar](100) NULL,
	[UnitsperParcel] [decimal](18, 10) NULL,
	[UseDuplicationList] [bit] NULL,
	[UseTax] [bit] NULL,
	[VAT] [decimal](18, 10) NULL,
	[VATBaseAmount] [decimal](18, 10) NULL,
	[VATBusPostingGroup] [nvarchar](100) NULL,
	[VATCalculationType] [nvarchar](100) NULL,
	[VATDifference] [decimal](18, 10) NULL,
	[VATIdentifier] [nvarchar](100) NULL,
	[VATProdPostingGroup] [nvarchar](100) NULL,
	[VariantCode] [nvarchar](100) NULL,
	[VendorItemNo] [nvarchar](100) NULL,
 CONSTRAINT [PK_PurchaseCrMemoLine] PRIMARY KEY CLUSTERED 
(
	[DocumentNo] ASC,
	[LineNo] ASC,
	[CompanyCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
