/****** Object:  Table [dbo].[Vendor]    Script Date: 10/27/2022 8:34:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[No] [nvarchar](20) NOT NULL,
	[CompanyCode] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[SearchName] [nvarchar](100) NULL,
	[Name2] [nvarchar](100) NULL,
	[Address] [nvarchar](100) NULL,
	[Address2] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[Contact] [nvarchar](100) NULL,
	[PhoneNo] [nvarchar](100) NULL,
	[TelexNo] [nvarchar](100) NULL,
	[OurAccountNo] [nvarchar](100) NULL,
	[TerritoryCode] [nvarchar](100) NULL,
	[GlobalDimension1Code] [nvarchar](100) NULL,
	[GlobalDimension2Code] [nvarchar](100) NULL,
	[BudgetedAmount] [decimal](38, 18) NULL,
	[VendorPostingGroup] [nvarchar](100) NULL,
	[CurrencyCode] [nvarchar](100) NULL,
	[LanguageCode] [nvarchar](100) NULL,
	[PaymentTermsCode] [nvarchar](100) NULL,
	[FinChargeTermsCode] [nvarchar](100) NULL,
	[PurchaserCode] [nvarchar](100) NULL,
	[ShipmentMethodCode] [nvarchar](100) NULL,
	[ShippingAgentCode] [nvarchar](100) NULL,
	[InvoiceDiscCode] [nvarchar](100) NULL,
	[CountryRegionCode] [nvarchar](100) NULL,
	[Blocked] [nvarchar](100) NULL,
	[PaytoVendorNo] [nvarchar](100) NULL,
	[Priority] [int] NULL,
	[PaymentMethodCode] [nvarchar](100) NULL,
	[ApplicationMethod] [nvarchar](100) NULL,
	[PricesIncludingVAT] [bit] NULL,
	[FaxNo] [nvarchar](100) NULL,
	[TelexAnswerBack] [nvarchar](100) NULL,
	[VATRegistrationNo] [nvarchar](100) NULL,
	[GenBusPostingGroup] [nvarchar](100) NULL,
	[GLN] [nvarchar](100) NULL,
	[PostCode] [nvarchar](100) NULL,
	[County] [nvarchar](100) NULL,
	[EMail] [nvarchar](100) NULL,
	[HomePage] [nvarchar](100) NULL,
	[TaxAreaCode] [nvarchar](100) NULL,
	[TaxLiable] [bit] NULL,
	[VATBusPostingGroup] [nvarchar](100) NULL,
	[ICPartnerCode] [nvarchar](100) NULL,
	[Prepayment] [decimal](38, 18) NULL,
	[PartnerType] [nvarchar](100) NULL,
	[CashFlowPaymentTermsCode] [nvarchar](100) NULL,
	[PrimaryContactNo] [nvarchar](100) NULL,
	[ResponsibilityCenter] [nvarchar](100) NULL,
	[LocationCode] [nvarchar](100) NULL,
	[LeadTimeCalculation] [nvarchar](100) NULL,
 CONSTRAINT [PK_Vendor] PRIMARY KEY CLUSTERED 
(
	[No] ASC,
	[CompanyCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
