/****** Object:  Table [dbo].[SalesLine]    Script Date: 10/27/2022 8:34:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesLine](
	[DocumentType] [nvarchar](50) NOT NULL,
	[DocumentNo] [nvarchar](20) NOT NULL,
	[LineNo] [bigint] NOT NULL,
	[CompanyCode] [nvarchar](10) NOT NULL,
	[SelltoCustomerNo] [nvarchar](100) NULL,
	[Type] [nvarchar](100) NULL,
	[No] [nvarchar](100) NULL,
	[LocationCode] [nvarchar](100) NULL,
	[PostingGroup] [nvarchar](100) NULL,
	[ShipmentDate] [date] NULL,
	[Description] [nvarchar](100) NULL,
	[Description2] [nvarchar](100) NULL,
	[UnitofMeasure] [nvarchar](100) NULL,
	[Quantity] [decimal](38, 10) NULL,
	[OutstandingQuantity] [decimal](38, 10) NULL,
	[QtytoInvoice] [decimal](38, 10) NULL,
	[QtytoShip] [decimal](38, 10) NULL,
	[UnitPrice] [decimal](38, 10) NULL,
	[UnitCostLCY] [decimal](38, 10) NULL,
	[VAT] [decimal](38, 10) NULL,
	[LineDiscount] [decimal](38, 10) NULL,
	[LineDiscountAmount] [decimal](38, 10) NULL,
	[Amount] [decimal](38, 10) NULL,
	[AmountIncludingVAT] [decimal](38, 10) NULL,
	[AllowInvoiceDisc] [bit] NULL,
	[GrossWeight] [decimal](38, 10) NULL,
	[NetWeight] [decimal](38, 10) NULL,
	[UnitsperParcel] [decimal](38, 10) NULL,
	[UnitVolume] [decimal](38, 10) NULL,
	[AppltoItemEntry] [decimal](38, 10) NULL,
	[ShortcutDimension1Code] [nvarchar](100) NULL,
	[ShortcutDimension2Code] [nvarchar](100) NULL,
	[CustomerPriceGroup] [nvarchar](100) NULL,
	[JobNo] [nvarchar](100) NULL,
	[WorkTypeCode] [nvarchar](100) NULL,
	[RecalculateInvoiceDisc] [bit] NULL,
	[OutstandingAmount] [decimal](38, 10) NULL,
	[QtyShippedNotInvoiced] [decimal](38, 10) NULL,
	[ShippedNotInvoiced] [decimal](38, 10) NULL,
	[QuantityShipped] [decimal](38, 10) NULL,
	[QuantityInvoiced] [decimal](38, 10) NULL,
	[ShipmentNo] [nvarchar](100) NULL,
	[ShipmentLineNo] [bigint] NULL,
	[Profit] [decimal](38, 10) NULL,
	[BilltoCustomerNo] [nvarchar](100) NULL,
	[InvDiscountAmount] [decimal](38, 10) NULL,
	[PurchaseOrderNo] [nvarchar](100) NULL,
	[PurchOrderLineNo] [bigint] NULL,
	[DropShipment] [bit] NULL,
	[GenBusPostingGroup] [nvarchar](100) NULL,
	[GenProdPostingGroup] [nvarchar](100) NULL,
	[VATCalculationType] [nvarchar](100) NULL,
	[TransactionType] [nvarchar](100) NULL,
	[TransportMethod] [nvarchar](100) NULL,
	[AttachedtoLineNo] [bigint] NULL,
	[ExitPoint] [nvarchar](100) NULL,
	[Area] [nvarchar](100) NULL,
	[TransactionSpecification] [nvarchar](100) NULL,
	[TaxCategory] [nvarchar](100) NULL,
	[TaxAreaCode] [nvarchar](100) NULL,
	[TaxLiable] [bit] NULL,
	[TaxGroupCode] [nvarchar](100) NULL,
	[VATClauseCode] [nvarchar](100) NULL,
	[VATBusPostingGroup] [nvarchar](100) NULL,
	[VATProdPostingGroup] [nvarchar](100) NULL,
	[CurrencyCode] [nvarchar](100) NULL,
	[OutstandingAmountLCY] [decimal](38, 10) NULL,
	[ShippedNotInvoicedLCY] [decimal](38, 10) NULL,
	[ShippedNotInvLCYNoVAT] [decimal](38, 10) NULL,
	[Reserve] [nvarchar](100) NULL,
	[BlanketOrderNo] [nvarchar](100) NULL,
	[BlanketOrderLineNo] [bigint] NULL,
	[VATBaseAmount] [decimal](38, 10) NULL,
	[UnitCost] [decimal](38, 10) NULL,
	[SystemCreatedEntry] [bit] NULL,
	[LineAmount] [decimal](38, 10) NULL,
	[VATDifference] [decimal](38, 10) NULL,
	[InvDiscAmounttoInvoice] [decimal](38, 10) NULL,
	[VATIdentifier] [nvarchar](100) NULL,
	[ICPartnerRefType] [nvarchar](100) NULL,
	[ICPartnerReference] [nvarchar](100) NULL,
	[Prepayment] [decimal](38, 10) NULL,
	[PrepmtLineAmount] [decimal](38, 10) NULL,
	[PrepmtAmtInv] [decimal](38, 10) NULL,
	[PrepmtAmtInclVAT] [decimal](38, 10) NULL,
	[PrepaymentAmount] [decimal](38, 10) NULL,
	[PrepmtVATBaseAmt] [decimal](38, 10) NULL,
	[PrepaymentVAT] [decimal](38, 10) NULL,
	[PrepmtVATCalcType] [nvarchar](100) NULL,
	[PrepaymentVATIdentifier] [nvarchar](100) NULL,
	[PrepaymentTaxAreaCode] [nvarchar](100) NULL,
	[PrepaymentTaxLiable] [bit] NULL,
	[PrepaymentTaxGroupCode] [nvarchar](100) NULL,
	[PrepmtAmttoDeduct] [decimal](38, 10) NULL,
	[PrepmtAmtDeducted] [decimal](38, 10) NULL,
	[PrepaymentLine] [bit] NULL,
	[PrepmtAmountInvInclVAT] [decimal](38, 10) NULL,
	[PrepmtAmountInvLCY] [decimal](38, 10) NULL,
	[ICPartnerCode] [nvarchar](100) NULL,
	[PrepmtVATAmountInvLCY] [decimal](38, 10) NULL,
	[PrepaymentVATDifference] [decimal](38, 10) NULL,
	[PrepmtVATDifftoDeduct] [decimal](38, 10) NULL,
	[PrepmtVATDiffDeducted] [decimal](38, 10) NULL,
	[ICItemReferenceNo] [nvarchar](100) NULL,
	[PmtDiscountAmount] [decimal](38, 10) NULL,
	[LineDiscountCalculation] [nvarchar](100) NULL,
	[DimensionSetID] [decimal](38, 10) NULL,
	[QtytoAssembletoOrder] [decimal](38, 10) NULL,
	[QtytoAsmtoOrderBase] [decimal](38, 10) NULL,
	[JobTaskNo] [nvarchar](100) NULL,
	[JobContractEntryNo] [bigint] NULL,
	[DeferralCode] [nvarchar](100) NULL,
	[ReturnsDeferralStartDate] [date] NULL,
	[VariantCode] [nvarchar](100) NULL,
	[BinCode] [nvarchar](100) NULL,
	[QtyperUnitofMeasure] [decimal](38, 10) NULL,
	[Planned] [bit] NULL,
	[UnitofMeasureCode] [nvarchar](100) NULL,
	[QuantityBase] [decimal](38, 10) NULL,
	[OutstandingQtyBase] [decimal](38, 10) NULL,
	[QtytoInvoiceBase] [decimal](38, 10) NULL,
	[QtytoShipBase] [decimal](38, 10) NULL,
	[QtyShippedNotInvdBase] [decimal](38, 10) NULL,
	[QtyShippedBase] [decimal](38, 10) NULL,
	[QtyInvoicedBase] [decimal](38, 10) NULL,
	[FAPostingDate] [date] NULL,
	[DepreciationBookCode] [nvarchar](100) NULL,
	[DepruntilFAPostingDate] [bit] NULL,
	[DuplicateinDepreciationBook] [nvarchar](100) NULL,
	[UseDuplicationList] [bit] NULL,
	[ResponsibilityCenter] [nvarchar](100) NULL,
	[OutofStockSubstitution] [bit] NULL,
	[OriginallyOrderedNo] [nvarchar](100) NULL,
	[OriginallyOrderedVarCode] [nvarchar](100) NULL,
	[CrossReferenceNo] [nvarchar](100) NULL,
	[UnitofMeasureCrossRef] [nvarchar](100) NULL,
	[CrossReferenceType] [nvarchar](100) NULL,
	[CrossReferenceTypeNo] [nvarchar](100) NULL,
	[ItemCategoryCode] [nvarchar](100) NULL,
	[Nonstock] [bit] NULL,
	[PurchasingCode] [nvarchar](100) NULL,
	[SpecialOrder] [bit] NULL,
	[SpecialOrderPurchaseNo] [nvarchar](100) NULL,
	[SpecialOrderPurchLineNo] [bigint] NULL,
	[ItemReferenceNo] [nvarchar](100) NULL,
	[ItemReferenceUnitofMeasure] [nvarchar](100) NULL,
	[ItemReferenceType] [nvarchar](100) NULL,
	[ItemReferenceTypeNo] [nvarchar](100) NULL,
	[CompletelyShipped] [bit] NULL,
	[RequestedDeliveryDate] [date] NULL,
	[PromisedDeliveryDate] [date] NULL,
	[ShippingTime] [nvarchar](100) NULL,
	[OutboundWhseHandlingTime] [nvarchar](100) NULL,
	[PlannedDeliveryDate] [date] NULL,
	[PlannedShipmentDate] [date] NULL,
	[ShippingAgentCode] [nvarchar](100) NULL,
	[ShippingAgentServiceCode] [nvarchar](100) NULL,
	[AllowItemChargeAssignment] [bit] NULL,
	[ReturnQtytoReceive] [decimal](38, 10) NULL,
	[ReturnQtytoReceiveBase] [decimal](38, 10) NULL,
	[ReturnQtyRcdNotInvd] [decimal](38, 10) NULL,
	[RetQtyRcdNotInvdBase] [decimal](38, 10) NULL,
	[ReturnRcdNotInvd] [decimal](38, 10) NULL,
	[ReturnRcdNotInvdLCY] [decimal](38, 10) NULL,
	[ReturnQtyReceived] [decimal](38, 10) NULL,
	[ReturnQtyReceivedBase] [decimal](38, 10) NULL,
	[ApplfromItemEntry] [decimal](38, 10) NULL,
	[BOMItemNo] [nvarchar](100) NULL,
	[ReturnReceiptNo] [nvarchar](100) NULL,
	[ReturnReceiptLineNo] [bigint] NULL,
	[ReturnReasonCode] [nvarchar](100) NULL,
	[CopiedFromPostedDoc] [bit] NULL,
	[PriceCalculationMethod] [nvarchar](100) NULL,
	[AllowLineDisc] [bit] NULL,
	[CustomerDiscGroup] [nvarchar](100) NULL,
	[Subtype] [nvarchar](100) NULL,
	[Pricedescription] [nvarchar](100) NULL,
	[ReservedQuantity] [decimal](38, 10) NULL,
	[ATOWhseOutstandingQty] [decimal](38, 10) NULL,
	[ATOWhseOutstdQtyBase] [decimal](38, 10) NULL,
	[PostingDate] [date] NULL,
	[ReservedQtyBase] [decimal](38, 10) NULL,
	[SubstitutionAvailable] [bit] NULL,
	[WhseOutstandingQty] [decimal](38, 10) NULL,
	[WhseOutstandingQtyBase] [decimal](38, 10) NULL,
	[QtytoAssign] [decimal](38, 10) NULL,
	[QtyAssigned] [decimal](38, 10) NULL,
	[AttachedDocCount] [decimal](38, 10) NULL,
	[Site_Code] [nvarchar](100) NULL,
	[Site_Order_No_] [nvarchar](100) NULL
) ON [PRIMARY]
GO
