/****** Object:  Table [dbo].[GLSetup]    Script Date: 10/27/2022 8:34:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GLSetup](
	[PrimaryKey] [nvarchar](10) NOT NULL,
	[CompanyCode] [nvarchar](10) NOT NULL,
	[AccSchedforBalanceSheet] [nvarchar](100) NULL,
	[AccSchedforCashFlowStmt] [nvarchar](100) NULL,
	[AccSchedforIncomeStmt] [nvarchar](100) NULL,
	[AccSchedforRetainedEarn] [nvarchar](100) NULL,
	[AdaptMainMenutoPermissions] [bit] NULL,
	[AdditionalReportingCurrency] [nvarchar](100) NULL,
	[AdjustforPaymentDisc] [bit] NULL,
	[AllowGLAccDeletionBefore] [nvarchar](100) NULL,
	[AllowPostingFrom] [nvarchar](100) NULL,
	[AllowPostingTo] [nvarchar](100) NULL,
	[AmountDecimalPlaces] [nvarchar](100) NULL,
	[AmountRoundingPrecision] [decimal](38, 10) NULL,
	[ApplnRoundingPrecision] [decimal](38, 10) NULL,
	[BankAccountNos] [nvarchar](100) NULL,
	[BilltoSelltoVATCalc] [nvarchar](100) NULL,
	[CheckGLAccountUsage] [bit] NULL,
	[EMUCurrency] [bit] NULL,
	[GlobalDimension1Code] [nvarchar](100) NULL,
	[GlobalDimension2Code] [nvarchar](100) NULL,
	[InvRoundingPrecisionLCY] [decimal](38, 10) NULL,
	[InvRoundingTypeLCY] [nvarchar](100) NULL,
	[JobQPrioforPostPrint] [decimal](38, 10) NULL,
	[JobQueueCategoryCode] [nvarchar](100) NULL,
	[JobQueuePriorityforPost] [decimal](38, 10) NULL,
	[LCYCode] [nvarchar](100) NULL,
	[LastICTransactionNo] [bigint] NULL,
	[LocalAddressFormat] [nvarchar](100) NULL,
	[LocalContAddrFormat] [nvarchar](100) NULL,
	[LocalCurrencyDescription] [nvarchar](100) NULL,
	[LocalCurrencySymbol] [nvarchar](100) NULL,
	[MarkCrMemosasCorrections] [bit] NULL,
	[MaxPaymentToleranceAmount] [decimal](38, 10) NULL,
	[MaxVATDifferenceAllowed] [decimal](38, 10) NULL,
	[NotifyOnSuccess] [bit] NULL,
	[PaymentDiscountGracePeriod] [nvarchar](100) NULL,
	[PaymentTolerance] [decimal](38, 10) NULL,
	[PaymentTolerancePosting] [nvarchar](100) NULL,
	[PaymentToleranceWarning] [bit] NULL,
	[PayrollTransImportFormat] [nvarchar](100) NULL,
	[PmtDiscExclVAT] [bit] NULL,
	[PmtDiscTolerancePosting] [nvarchar](100) NULL,
	[PmtDiscToleranceWarning] [bit] NULL,
	[PostPrintwithJobQueue] [bit] NULL,
	[PostwithJobQueue] [bit] NULL,
	[PrepaymentUnrealizedVAT] [bit] NULL,
	[PrintVATspecificationinLCY] [bit] NULL,
	[RegisterTime] [bit] NULL,
	[ReportOutputType] [nvarchar](100) NULL,
	[SEPAExportwoBankAccData] [bit] NULL,
	[SEPANonEuroExport] [bit] NULL,
	[ShortcutDimension1Code] [nvarchar](100) NULL,
	[ShortcutDimension2Code] [nvarchar](100) NULL,
	[ShortcutDimension3Code] [nvarchar](100) NULL,
	[ShortcutDimension4Code] [nvarchar](100) NULL,
	[ShortcutDimension5Code] [nvarchar](100) NULL,
	[ShortcutDimension6Code] [nvarchar](100) NULL,
	[ShortcutDimension7Code] [nvarchar](100) NULL,
	[ShortcutDimension8Code] [nvarchar](100) NULL,
	[ShowAmounts] [nvarchar](100) NULL,
	[SummarizeGLEntries] [bit] NULL,
	[SystemCreatedAt] [nvarchar](100) NULL,
	[SystemCreatedBy] [nvarchar](100) NULL,
	[SystemId] [nvarchar](100) NULL,
	[SystemModifiedAt] [nvarchar](100) NULL,
	[SystemModifiedBy] [nvarchar](100) NULL,
	[TaxInvoiceRenamingThreshold] [decimal](38, 10) NULL,
	[ThresholdAmount] [decimal](38, 10) NULL,
	[Thresholdapplies] [bit] NULL,
	[UnitAmountDecimalPlaces] [nvarchar](100) NULL,
	[UnitAmountRoundingPrecision] [decimal](38, 10) NULL,
	[UnrealizedVAT] [bit] NULL,
	[UseLegacyGLEntryLocking] [bit] NULL,
	[VATExchangeRateAdjustment] [nvarchar](100) NULL,
	[VATRoundingType] [nvarchar](100) NULL,
	[VATTolerance] [decimal](38, 10) NULL,
	[CustBalancesDue] [decimal](38, 10) NULL,
	[VendorBalancesDue] [decimal](38, 10) NULL,
 CONSTRAINT [PK_GLSetup] PRIMARY KEY CLUSTERED 
(
	[PrimaryKey] ASC,
	[CompanyCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
