/****** Object:  Table [dbo].[SalesCrMemoLine]    Script Date: 10/27/2022 8:34:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesCrMemoLine](
	[DocumentNo] [nvarchar](20) NOT NULL,
	[LineNo] [bigint] NOT NULL,
	[CompanyCode] [nvarchar](10) NOT NULL,
	[SelltoCustomerNo] [nvarchar](100) NULL,
	[Type] [nvarchar](100) NULL,
	[No] [nvarchar](100) NULL,
	[LocationCode] [nvarchar](100) NULL,
	[PostingGroup] [nvarchar](100) NULL,
	[ShipmentDate] [date] NULL,
	[Description] [nvarchar](100) NULL,
	[Description2] [nvarchar](100) NULL,
	[UnitofMeasure] [nvarchar](100) NULL,
	[Quantity] [decimal](18, 10) NULL,
	[UnitPrice] [decimal](18, 10) NULL,
	[UnitCostLCY] [decimal](18, 10) NULL,
	[VAT] [decimal](18, 10) NULL,
	[LineDiscount] [decimal](18, 10) NULL,
	[LineDiscountAmount] [decimal](18, 10) NULL,
	[Amount] [decimal](18, 10) NULL,
	[AmountIncludingVAT] [decimal](18, 10) NULL,
	[AllowInvoiceDisc] [bit] NULL,
	[GrossWeight] [decimal](18, 10) NULL,
	[NetWeight] [decimal](18, 10) NULL,
	[UnitsperParcel] [decimal](18, 10) NULL,
	[UnitVolume] [decimal](18, 10) NULL,
	[AppltoItemEntry] [bigint] NULL,
	[ShortcutDimension1Code] [nvarchar](100) NULL,
	[ShortcutDimension2Code] [nvarchar](100) NULL,
	[CustomerPriceGroup] [nvarchar](100) NULL,
	[JobNo] [nvarchar](100) NULL,
	[WorkTypeCode] [nvarchar](100) NULL,
	[OrderNo] [nvarchar](100) NULL,
	[OrderLineNo] [bigint] NULL,
	[BilltoCustomerNo] [nvarchar](20) NULL,
	[InvDiscountAmount] [decimal](18, 10) NULL,
	[GenBusPostingGroup] [nvarchar](100) NULL,
	[GenProdPostingGroup] [nvarchar](100) NULL,
	[VATCalculationType] [nvarchar](100) NULL,
	[TransactionType] [nvarchar](100) NULL,
	[TransportMethod] [nvarchar](100) NULL,
	[AttachedtoLineNo] [bigint] NULL,
	[ExitPoint] [nvarchar](100) NULL,
	[Area] [nvarchar](100) NULL,
	[TransactionSpecification] [nvarchar](100) NULL,
	[TaxCategory] [nvarchar](100) NULL,
	[TaxAreaCode] [nvarchar](100) NULL,
	[TaxLiable] [bit] NULL,
	[TaxGroupCode] [nvarchar](100) NULL,
	[VATClauseCode] [nvarchar](100) NULL,
	[VATBusPostingGroup] [nvarchar](100) NULL,
	[VATProdPostingGroup] [nvarchar](100) NULL,
	[BlanketOrderNo] [nvarchar](100) NULL,
	[BlanketOrderLineNo] [bigint] NULL,
	[VATBaseAmount] [decimal](18, 10) NULL,
	[UnitCost] [decimal](18, 10) NULL,
	[SystemCreatedEntry] [bit] NULL,
	[LineAmount] [decimal](18, 10) NULL,
	[VATDifference] [decimal](18, 10) NULL,
	[VATIdentifier] [nvarchar](100) NULL,
	[ICPartnerRefType] [nvarchar](100) NULL,
	[ICPartnerReference] [nvarchar](100) NULL,
	[PrepaymentLine] [bit] NULL,
	[ICPartnerCode] [nvarchar](100) NULL,
	[PostingDate] [date] NULL,
	[ICItemReferenceNo] [nvarchar](100) NULL,
	[PmtDiscountAmount] [decimal](18, 10) NULL,
	[LineDiscountCalculation] [nvarchar](100) NULL,
	[DimensionSetID] [int] NULL,
	[JobTaskNo] [nvarchar](100) NULL,
	[JobContractEntryNo] [bigint] NULL,
	[DeferralCode] [nvarchar](100) NULL,
	[VariantCode] [nvarchar](100) NULL,
	[BinCode] [nvarchar](100) NULL,
	[QtyperUnitofMeasure] [decimal](18, 10) NULL,
	[UnitofMeasureCode] [nvarchar](100) NULL,
	[QuantityBase] [decimal](18, 10) NULL,
	[FAPostingDate] [date] NULL,
	[DepreciationBookCode] [nvarchar](100) NULL,
	[DepruntilFAPostingDate] [bit] NULL,
	[DuplicateinDepreciationBook] [nvarchar](100) NULL,
	[UseDuplicationList] [bit] NULL,
	[ResponsibilityCenter] [nvarchar](100) NULL,
	[CrossReferenceNo] [nvarchar](100) NULL,
	[UnitofMeasureCrossRef] [nvarchar](100) NULL,
	[CrossReferenceType] [nvarchar](100) NULL,
	[CrossReferenceTypeNo] [nvarchar](100) NULL,
	[ItemCategoryCode] [nvarchar](100) NULL,
	[Nonstock] [bit] NULL,
	[PurchasingCode] [nvarchar](100) NULL,
	[ApplfromItemEntry] [bigint] NULL,
	[ReturnReceiptNo] [nvarchar](100) NULL,
	[ReturnReceiptLineNo] [bigint] NULL,
	[ReturnReasonCode] [nvarchar](100) NULL,
	[AllowLineDisc] [bit] NULL,
	[CustomerDiscGroup] [nvarchar](100) NULL,
 CONSTRAINT [PK_SalesCrMemoLine] PRIMARY KEY CLUSTERED 
(
	[DocumentNo] ASC,
	[LineNo] ASC,
	[CompanyCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
