/****** Object:  Table [dbo].[VendorLedgerEntry]    Script Date: 10/27/2022 8:34:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorLedgerEntry](
	[EntryNo] [bigint] NOT NULL,
	[CompanyCode] [nvarchar](10) NOT NULL,
	[VendorNo] [nvarchar](100) NULL,
	[PostingDate] [date] NULL,
	[DocumentType] [nvarchar](40) NULL,
	[DocumentNo] [nvarchar](100) NULL,
	[Description] [nvarchar](100) NULL,
	[VendorName] [nvarchar](100) NULL,
	[CurrencyCode] [nvarchar](100) NULL,
	[PurchaseLCY] [decimal](38, 10) NULL,
	[InvDiscountLCY] [decimal](38, 10) NULL,
	[BuyfromVendorNo] [nvarchar](100) NULL,
	[VendorPostingGroup] [nvarchar](100) NULL,
	[GlobalDimension1Code] [nvarchar](100) NULL,
	[GlobalDimension2Code] [nvarchar](100) NULL,
	[PurchaserCode] [nvarchar](100) NULL,
	[UserID] [nvarchar](100) NULL,
	[SourceCode] [nvarchar](100) NULL,
	[OnHold] [nvarchar](100) NULL,
	[AppliestoDocType] [nvarchar](40) NULL,
	[AppliestoDocNo] [nvarchar](100) NULL,
	[Open] [bit] NULL,
	[DueDate] [date] NULL,
	[PmtDiscountDate] [date] NULL,
	[OriginalPmtDiscPossible] [decimal](38, 10) NULL,
	[PmtDiscRcdLCY] [decimal](38, 10) NULL,
	[Positive] [bit] NULL,
	[ClosedbyEntryNo] [int] NULL,
	[ClosedatDate] [date] NULL,
	[ClosedbyAmount] [decimal](38, 10) NULL,
	[AppliestoID] [nvarchar](100) NULL,
	[JournalBatchName] [nvarchar](100) NULL,
	[ReasonCode] [nvarchar](100) NULL,
	[BalAccountType] [nvarchar](40) NULL,
	[BalAccountNo] [nvarchar](100) NULL,
	[TransactionNo] [int] NULL,
	[ClosedbyAmountLCY] [decimal](38, 10) NULL,
	[DocumentDate] [date] NULL,
	[ExternalDocumentNo] [nvarchar](100) NULL,
	[ClosedbyCurrencyCode] [nvarchar](100) NULL,
	[ClosedbyCurrencyAmount] [decimal](38, 10) NULL,
	[AdjustedCurrencyFactor] [decimal](38, 10) NULL,
	[OriginalCurrencyFactor] [decimal](38, 10) NULL,
	[RemainingPmtDiscPossible] [decimal](38, 10) NULL,
	[PmtDiscToleranceDate] [date] NULL,
	[MaxPaymentTolerance] [decimal](38, 10) NULL,
	[AcceptedPaymentTolerance] [decimal](38, 10) NULL,
	[AcceptedPmtDiscTolerance] [bit] NULL,
	[PmtToleranceLCY] [decimal](38, 10) NULL,
	[AmounttoApply] [decimal](38, 10) NULL,
	[ICPartnerCode] [nvarchar](100) NULL,
	[ApplyingEntry] [bit] NULL,
	[Reversed] [bit] NULL,
	[ReversedbyEntryNo] [int] NULL,
	[ReversedEntryNo] [int] NULL,
	[Prepayment] [bit] NULL,
	[CreditorNo] [nvarchar](100) NULL,
	[PaymentReference] [nvarchar](100) NULL,
	[PaymentMethodCode] [nvarchar](100) NULL,
	[AppliestoExtDocNo] [nvarchar](100) NULL,
	[DimensionSetID] [int] NULL,
	[Amount] [decimal](38, 10) NULL,
	[RemainingAmount] [decimal](38, 10) NULL,
	[OriginalAmtLCY] [decimal](38, 10) NULL,
	[RemainingAmtLCY] [decimal](38, 10) NULL,
	[AmountLCY] [decimal](38, 10) NULL,
	[DebitAmount] [decimal](38, 10) NULL,
	[CreditAmount] [decimal](38, 10) NULL,
	[DebitAmountLCY] [decimal](38, 10) NULL,
	[CreditAmountLCY] [decimal](38, 10) NULL,
	[OriginalAmount] [decimal](38, 10) NULL,
	[SystemCreatedDate] [datetime2](7) NULL,
	[SystemModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_VendorLedgerEntry] PRIMARY KEY CLUSTERED 
(
	[EntryNo] ASC,
	[CompanyCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
