/****** Object:  Table [dbo].[ValueEntry]    Script Date: 10/27/2022 8:34:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ValueEntry](
	[EntryNo] [bigint] NOT NULL,
	[CompanyCode] [nvarchar](10) NOT NULL,
	[ItemNo] [nvarchar](150) NULL,
	[PostingDate] [date] NULL,
	[ItemLedgerEntryType] [nvarchar](150) NULL,
	[SourceNo] [nvarchar](150) NULL,
	[DocumentNo] [nvarchar](150) NULL,
	[Description] [nvarchar](150) NULL,
	[LocationCode] [nvarchar](150) NULL,
	[InventoryPostingGroup] [nvarchar](150) NULL,
	[SourcePostingGroup] [nvarchar](150) NULL,
	[ItemLedgerEntryNo] [bigint] NULL,
	[ValuedQuantity] [decimal](18, 10) NULL,
	[ItemLedgerEntryQuantity] [decimal](18, 10) NULL,
	[InvoicedQuantity] [decimal](18, 10) NULL,
	[CostperUnit] [decimal](18, 10) NULL,
	[SalesAmountActual] [decimal](18, 10) NULL,
	[SalespersPurchCode] [nvarchar](150) NULL,
	[DiscountAmount] [decimal](18, 10) NULL,
	[UserID] [nvarchar](150) NULL,
	[SourceCode] [nvarchar](150) NULL,
	[AppliestoEntry] [decimal](18, 10) NULL,
	[GlobalDimension1Code] [nvarchar](150) NULL,
	[GlobalDimension2Code] [nvarchar](150) NULL,
	[SourceType] [nvarchar](150) NULL,
	[CostAmountActual] [decimal](18, 10) NULL,
	[CostPostedtoGL] [decimal](18, 10) NULL,
	[ReasonCode] [nvarchar](150) NULL,
	[DropShipment] [bit] NULL,
	[JournalBatchName] [nvarchar](150) NULL,
	[GenBusPostingGroup] [nvarchar](150) NULL,
	[GenProdPostingGroup] [nvarchar](150) NULL,
	[DocumentDate] [date] NULL,
	[ExternalDocumentNo] [nvarchar](150) NULL,
	[CostAmountActualACY] [decimal](18, 10) NULL,
	[CostPostedtoGLACY] [decimal](18, 10) NULL,
	[CostperUnitACY] [decimal](18, 10) NULL,
	[DocumentType] [nvarchar](150) NULL,
	[DocumentLineNo] [bigint] NULL,
	[OrderType] [nvarchar](150) NULL,
	[OrderNo] [nvarchar](150) NULL,
	[OrderLineNo] [bigint] NULL,
	[ExpectedCost] [bit] NULL,
	[ItemChargeNo] [nvarchar](150) NULL,
	[ValuedByAverageCost] [bit] NULL,
	[PartialRevaluation] [bit] NULL,
	[Inventoriable] [bit] NULL,
	[ValuationDate] [date] NULL,
	[EntryType] [nvarchar](150) NULL,
	[VarianceType] [nvarchar](150) NULL,
	[PurchaseAmountActual] [decimal](18, 10) NULL,
	[PurchaseAmountExpected] [decimal](18, 10) NULL,
	[SalesAmountExpected] [decimal](18, 10) NULL,
	[CostAmountExpected] [decimal](18, 10) NULL,
	[CostAmountNonInvtbl] [decimal](18, 10) NULL,
	[CostAmountExpectedACY] [decimal](18, 10) NULL,
	[CostAmountNonInvtblACY] [decimal](18, 10) NULL,
	[ExpectedCostPostedtoGL] [decimal](18, 10) NULL,
	[ExpCostPostedtoGLACY] [decimal](18, 10) NULL,
	[DimensionSetID] [bigint] NULL,
	[JobNo] [nvarchar](150) NULL,
	[JobTaskNo] [nvarchar](150) NULL,
	[JobLedgerEntryNo] [bigint] NULL,
	[VariantCode] [nvarchar](150) NULL,
	[Adjustment] [bit] NULL,
	[AverageCostException] [bit] NULL,
	[CapacityLedgerEntryNo] [bigint] NULL,
	[Type] [nvarchar](150) NULL,
	[No] [nvarchar](150) NULL,
	[ReturnReasonCode] [nvarchar](150) NULL,
	[SystemCreatedDate] [datetime2](7) NULL,
	[SystemModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_ValueEntry] PRIMARY KEY CLUSTERED 
(
	[EntryNo] ASC,
	[CompanyCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
